PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=newlink
DATABASE_PASSWORD=newlink_secret
DATABASE_NAME=newlink

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_ADMIN_IDS=123456789,987654321

TELEGRAM_PAYMENT_PROVIDER_TOKEN=your_ton_provider_token
PROMOTION_PRICE_TON=1000000000
PROMOTION_DURATION_DAYS=7
